{% comment %}
==================
  MEGA MENU 4 COLUMNS
==================
{% endcomment %}
{% assign _lazyload         = settings.use_lazyload %}
{% assign menu_position     = block.settings.position %}
{% assign min_height        = block.settings.mega_menu_min_height %}
{% assign menu_bg           = block.settings.mega_menu_bg %}
{% assign menu_bg_img       = block.settings.mega_menu_bg_img %}
{% assign menu_bg_img_size  = block.settings.mega_menu_bg_img_size %}
{% assign menu_bg_color     = block.settings.mega_menu_bg_color %}
{% assign menu_bg_size      = block.settings.bg_size %}
{% assign menu_bg_repeat    = block.settings.bg_repeat %}
{% assign menu_bg_position  = block.settings.bg_position %}
{% assign manually_width    = block.settings.manually_width | append: '%' %}

{% if menu_bg == 'bg_image' %}
  {% if _lazyload %}
    {% capture background %}{{ menu_bg_img | img_url: menu_bg_img_size }}{% endcapture %}
  {% else %}
    {% capture background %}url({{ menu_bg_img | img_url: menu_bg_img_size }}) {{menu_bg_repeat}} {{ menu_bg_position }}/ {{menu_bg_size}} #fff{% endcapture %}
  {% endif %}
{% else %}
  {% capture background %}{{ menu_bg_color }}{% endcapture %}
{% endif %}

<div data-expand="10" class="dropdown-menu mega_columns position-{{ menu_position }}{% if _lazyload and menu_bg == 'bg_image'%} lazyload{% endif %}"
      {% if _lazyload and menu_bg == 'bg_image' %} data-bgset="{{background}}"
     style="background-repeat: {{menu_bg_repeat}}; background-size:{{menu_bg_size}}; background-position: {{menu_bg_position}};min-height: {{ min_height }}px; width: {{ manually_width }};"
     {% else %} style="background:{{background}}; min-height: {{ min_height }}px; width: {{ manually_width }};"{% endif %}>

  <div class="back-prev-menu"><span class="expand">Back</span></div>
  <div class="row row-1">
    {% for i in (1..4) %}
      {% assign mCol = 'mega_menu_col_' | append: i %}
      {% if block.settings[mCol] != 'none' %}

        {% assign mColWidth       = 'mega_menu_width_col_'       | append: i %}
        {% assign mColTitle       = 'mega_menu_title_col_'       | append: i %}
        {% assign mEnableColTitle = 'mega_menu_image_title_col_' | append: i %}
        {% assign mColLink        = 'mega_menu_link_col_'        | append: i %}

        <div class="mega-col mega-col-{{i}} {% if block.settings[mColWidth] == 0 %}col{% else %}col-lg-{{ block.settings[mColWidth] }}{% endif %}">

          {% case block.settings[mCol] %}

            {% when 'menu' %}
              {% assign mColLL = 'mega_menu_ll_col_' | append: i %}

              {% if block.settings[mColLL] != blank and linklists[block.settings[mColLL]].size > 0 %}

                <div class="dropdown mega-sub-link {% if block.settings[mColTitle] == blank %} no-title-0{% endif %}">
                  <a href="{{ block.settings[mColLink] }}"{% if block.settings[mEnableColTitle] or block.settings[mColTitle] == blank %} class="d-lg-none"{% endif %}>
                    <span>{{ block.settings[mColTitle] }}</span>
                  </a>

                  <span class="expand"></span>

                  <ul class="dropdown-menu dropdown-menu-sub">
                    <li class="back-prev-menu"><span class="expand">Back</span></li>
                    {% for l in linklists[block.settings[mColLL]].links %}
                      <li>
                        <a href="{{ l.url }}">{{ l.title }}
                        {% capture n_title %}{{ linklists[block.settings[mColLL]].title }}-{{l.title}}{% endcapture %}
                        {% include 'include-label-handle' with l_title:n_title %}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

            {% when 'multi-menu' %}
              {% assign mColLL = 'mega_menu_ll_col_' | append: i %}
              <div class="dropdown mega-sub-link mega-mutiple-link{% if block.settings[mColTitle] == blank %} no-title-0{% endif %}">
                <a href="{{ block.settings[mColLink] }}" class="d-none {% if block.settings[mEnableColTitle] or block.settings[mColTitle] == blank %} d-lg-none{% else %} d-lg-block{% endif %}">
                  <span>{{ block.settings[mColTitle] }}</span>
                </a>
                <span class="expand"></span>

                {% for ml in linklists[block.settings[mColLL]].links %}
                  {% assign submenu = ml.title | handleize %}

                  {% if linklists[submenu].links.size > 0 %}
                    <div class="dropdown mega-sub-link">
                      <a href="{{ ml.url }}" class="dropdown-link"><span>{{ ml.title }}</span>
                      {% capture n_title %}{{ linklists[block.settings[mColLL]].title }}-{{ml.title}}{% endcapture %}
                      {% include 'include-label-handle' with l_title:n_title %}</a>
                      <span class="expand"></span>

                      <ul class="dropdown-menu dropdown-menu-sub">
                        <li class="back-prev-menu"><span class="expand">Back</span></li>
                        {% for l in linklists[submenu].links %}
                          <li>
                            <a href="{{ l.url }}">{{ l.title }}
                            {% capture n_title %}{{ linklists[block.settings[mColLL]].title }}-{{l.title}}{% endcapture %}
                            {% include 'include-label-handle' with l_title:n_title %}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>

                  {% else %}
                    <div class="mega-sub-link">
                      <a href="{{ ml.url }}"><span>{{ ml.title }}</span>
                      {% capture n_title %}{{ linklists[block.settings[mColLL]].title }}-{{ml.title}}{% endcapture %}
                      {% include 'include-label-handle' with l_title:n_title %}
                      </a>
                    </div>
                  {% endif %}

                {% endfor %}
              </div>
              
            {% when 'menu-porduct' %}
              {% assign mColLL = 'mega_menu_ll_col_' | append: i %}

                <div class="dropdown mega-sub-link {% if block.settings[mColTitle] == blank %} no-title-0{% endif %}">
                  <a href="{{ block.settings[mColLink] }}"{% if block.settings[mEnableColTitle] %} class="d-lg-none"{% endif %}>
                    <span>{{ block.settings[mColTitle] }}</span>
                  </a>

                  <span class="expand"></span>

                  <ul class="dropdown-menu dropdown-menu-sub">
                    <li class="back-prev-menu"><span class="expand">Back</span></li>
                    {% for l in linklists[block.settings[mColLL]].links %}
                      <li>
                        <a href="{{ l.url }}">{{ l.title }}
                        {% capture n_title %}{{ linklists[block.settings[mColLL]].title }}-{{l.title}}{% endcapture %}
                        {% include 'include-label-handle' with l_title:n_title %}
                        </a>
                      </li>
                    {% endfor %}

                    {% for j in (1..2)%}
                      {% assign mHandle = 'mega_menu_product_' | append : j | append : '_col_' | append : i %}
                      {% assign mHandle = block.settings[mHandle] %}

                      {% unless mHandle == blank %}
                        {% assign prod = all_products[mHandle] %}
                        <li class="bp-item">
                          {% include 'menu-product-item' %}
                        </li>
                      {% endunless %}
                    {% endfor %}

                  </ul>
                </div>

            {% when 'product' %}
              <div class="dropdown mega-sub-link {% if block.settings[mColTitle] == blank %} no-title-0{% endif %}">
                <a href="{{ block.settings[mColLink] }}"{% if block.settings[mEnableColTitle] %} class="d-lg-none"{% endif %}>
                  <span>{{ block.settings[mColTitle] }}</span>
                </a>

                <span class="expand"></span>

                <ul class="dropdown-menu dropdown-menu-sub fix {% if block.settings[mColTitle] == blank %} no-title-1{% endif %}">
                  <li class="back-prev-menu"><span class="expand">Back</span></li>
                  {% for j in (1..2)%}
                    {% assign mHandle = 'mega_menu_product_' | append : j | append : '_col_' | append : i %}
                    {% assign mHandle = block.settings[mHandle] %}

                    {% unless mHandle == blank %}
                      {% assign prod = all_products[mHandle] %}
                      <li class="bp-item">{% include 'menu-product-item' %}</li>
                    {% endunless %}
                  {% endfor %}

                </ul>
              </div>

            {% when 'collection' %}
              {% assign mColCollection    = 'mega_menu_collection_col_'       | append: i %}
              {% assign _mCollectionLimit = 'mega_menu_collection_limit_col_' | append: i %}
              {% assign _mCollection      = collections[block.settings[mColCollection]] %}
              {% if _mCollection.products.size > 0 %}
                <div class="dropdown mega-sub-link {% if block.settings[mColTitle] == blank %} no-title-0{% endif %}">
                  <a href="{{ block.settings[mColLink] }}"{% if block.settings[mEnableColTitle] %} class="d-lg-none"{% endif %}>
                    <span>{{ block.settings[mColTitle] }}</span>
                  </a>

                  <span class="expand"></span>

                  <div class="dropdown-menu dropdown-menu-sub menu-proudct-carousel" data-owl-xs="1">
                    {% for product in _mCollection.products limit: block.settings[_mCollectionLimit] %}
  {% if product.object_type == 'product' and product.type == 'SHOPSTORM_HIDDEN_PRODUCT' %}{% continue %}{% endif %}

  {% if product.object_type == 'product' and product.type == 'SHOPSTORM_HIDDEN_PRODUCT' %}{% continue %}{% endif %}


                      {% include 'product-item' %}
                    {% endfor %}
                  </div>
                </div>
              {% endif %}

            {% when 'image' %}

              <div class="dropdown mega-sub-link banners {% if block.settings[mColTitle] == blank %} no-title-2{% endif %}">
                <a href="{{ block.settings[mColLink] }}"{% if block.settings[mEnableColTitle] %} class="d-lg-none"{% endif %}>
                  <span>{{ block.settings[mColTitle] }}</span>
                </a>
                <span class="expand"></span>

                <ul class="dropdown-menu dropdown-menu-sub">
                  <li class="back-prev-menu"><span class="expand">Back</span></li>
                  {% assign mColImage     = 'mega_menu_image_col_'      | append: i %}
                  {% assign mColImageSize = 'mega_menu_image_size_col_' | append: i %}
                  {% assign mColImageLink = 'mega_menu_image_link_col_' | append: i %}

                  <li data-test="{{mColImageSize}}">
                    <a href="{{ block.settings[mColImageLink] }}">
                      {% unless  block.settings[mColImage] == blank %}
                        <img {% if _lazyload %}class="lazyload" data-{% endif %}src="{{ block.settings[mColImage] | img_url: block.settings[mColImageSize] }}"/>
                      {% else %}
                        <img src="{{ 'default-image.jpg' | asset_url }}"/>
                      {% endunless %}
                    </a>
                  </li>
                </ul>

              </div>

          {% endcase %}

        </div>

      {% endif %}

    {% endfor %}
  </div>
</div>