<div id="col-main">
  {% if collection.products_count > 0 %}
    {%- case grid_type -%}
      {%- when 'order-form' -%}
        <div class="44 cata-product">

          <div class="t-head">
            <div class="tr-block">
              <div class="td-image">
                <div class="product-image"></div>
              </div>
              <div class="td-name">
                <div class="product-name">{{'collections.order_form.product' | t }}</div>
              </div>
              <div class="td-price">
                <div class="product-price">{{'collections.order_form.price' | t }}</div>
              </div>
              <div class="td-qty">
                <div class="product-qty">{{'collections.order_form.qty' | t }}</div>
              </div>
              <div class="td-cart">
                <div class="product-add-cart">{{'collections.order_form.option' | t }}</div>
              </div>
            </div>
          </div>

          <div class="t-body">
            {% for product in collection.products %}
  {% if product.object_type == 'product' and product.type == 'SHOPSTORM_HIDDEN_PRODUCT' %}{% continue %}{% endif %}

  {% if product.object_type == 'product' and product.type == 'SHOPSTORM_HIDDEN_PRODUCT' %}{% continue %}{% endif %}

{%- include 'bold-product' with product, hide_action: 'skip' -%}


            {% if product.available %}
              <div class="product-parent-item" data-id="{{product.id}}">
                <div class="td-image">
                  <div class="product-image">
                    <a href="{{ product.url | collection }}">
                      {% assign _image = product.image | default: product.featured_image %}
                      {% include 'image-style', image: _image, _type: 'product' %}
                    </a>
                  </div>
                </div>
                <div class="td-name">
                  <div class="product-name">
                    <h5 class="product-name">
                      <a href="{{ product.url | collection }}">{{ product.title }}</a>
                    </h5>{% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: true, product: product %}
                    {% assign meta_shortdes = product.metafields.c_f %}
                    {% assign key = 'description_excerpt' %}
                    {% unless meta_shortdes.description_excerpt == blank %}
                    <div class="product-description">{{ meta_shortdes.description_excerpt }}</div>
                    {% endunless %}
                  </div>
                </div>
                <div class="td-price">
                  <div class="product-price">
                    {% if bold_compare_at_price and bold_price < bold_compare_at_price %}
                    <span class="price-sale">{{ bold_price | money }}</span>
                    <span class="price-compare"> {{ bold_compare_at_price | money }}</span>
                    {% else %}
                    <span class="price">{{ bold_price | money }}</span>
                    {% endif %}
                  </div>
                </div>
                <div class="td-qty" >
                  <div class="product-qty">
                    {% if product.variants.size == 1 %}
                      <div class="qty-wrapper-order">
                        <span class="global-product-info-qty-minus qty-down"><i class="demo-icon icon-minus"></i></span>

                        <input name="updates[{{ product.id }}]" onfocus="this.select()" class="quantity field" min="0" {% unless product.inventory_management == blank or product.inventory_policy == 'continue' %} max="{{ product.inventory_quantity }}" {% endunless %} type="text" value="0" tabindex="1" />

                        <span class="global-product-info-qty-plus qty-up"><i class="demo-icon icon-plus"></i></span>
                      </div>
                    {% endif %}
                  </div>
                </div>
                <div class="td-cart">
                  <div class="product-add-cart">
                    {% if product.available %}
                      {% if product.variants.size > 1 %}
                      <div class="btn-show-variants show-variants">
                        {{'collections.order_form.show_variants' | t }}
                      </div>
                      {% else %}
                      <form action="/cart/add" method="post" enctype="multipart/form-data">
                        <a href="javascript:void(0);" class="btn-add-cart add-to-cart" title="{{ 'products.product.add_to_cart' | t }}">
                          {{ 'products.product.add_to_cart' | t }}
                        </a>
                        <select class="d-none" name="id">
                          {% for variant in product.variants %}
                          <option value="{{ variant.id }}">{{ variant.title | escape }}</option>
                          {% endfor %}
                        </select>
                      </form>
                      {% endif %}
                    {% else %}
                      <a href="javascript:void(0);" class="btn-add-cart"> {{ 'products.product.sold_out' | t }}</a>
                    {% endif %}
                  </div>
                </div>
              </div>
              {% if product.variants.size > 1 %}
                {% for variant in product.variants %}
                  {% if variant.available %}

                    <div class="product-child-item" data-id="{{product.id}}" style="display: none;">
                      <div class="td-image"></div>
                      <div class="td-name">
                        <div class="product-image">
                          <a href="{{ variant.url | collection }}">
                            {% assign v_image = variant.image | default: product.featured_image %}
                            {% include 'image-style' ,image: v_image, _type: 'product' %}
                          </a>
                        </div>
                        <div class="product-name">
                          <h5 class="product-name">
                            {% unless variant.title contains 'Default' %}<a href="{{ variant.url | collection }}">{{ variant.title }}</a>{% endunless %}
                          </h5>{% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: true, product: product %}
                        </div>
                      </div>

                      <div class="td-price">
                        <div class="product-price">
                          {% if variant.compare_at_price and bold_variant_price < variant.compare_at_price %}
                          <span class="price-sale">{{ bold_variant_price | money }}</span>
                          <span class="price-compare"> {{ variant.compare_at_price | money }}</span>
                          {% else %}
                          <span class="price">{{ bold_variant_price | money }}</span>
                          {% endif %}
                        </div>
                      </div>

                      <div class="td-qty" >
                        <div class="product-qty">
                          <div class="product-qty">
                            <span class="global-product-info-qty-minus"><i class="demo-icon icon-minus"></i></span>
                            <input name="updates[{{ variant.id }}]"
                            onfocus="this.select()" class="quantity field" min="0" {% unless variant.inventory_management == blank or variant.inventory_policy == 'continue' %} max="{{ variant.inventory_quantity }}" {% endunless %} type="text" value="0" tabindex="1" />
                            <span class="global-product-info-qty-plus"><i class="demo-icon icon-plus"></i></span>
                          </div>
                        </div>
                      </div>

                      <div class="td-cart">
                        <div class="product-add-cart">
                          {% if variant.available %}
                          <form action="/cart/add" method="post" enctype="multipart/form-data">
                            <a href="javascript:void(0);" class="btn-add-cart add-to-cart" title="{{ 'products.product.add_to_cart' | t }}">
                              {{ 'products.product.add_to_cart' | t }}
                            </a>
                            <select class="d-none" name="id">
                              <option value="{{ variant.id }}">{{ variant.title | escape }}</option>
                            </select>
                          </form>
                          {% else %}
                          <a href="javascript:void(0);" class="btn-add-cart"> {{ 'products.product.sold_out' | t }}</a>
                          {% endif %}
                        </div>
                      </div>

                    </div>

                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endif %}

            {% endfor %}
          </div>
        </div>

      {%- when 'order-form-2' -%}
        {%- include 'include-item-per-row' -%}
        <form action="/cart" method="post" id="AddToCartForm">
          <div class="55 cata-product">
            <div class="row">
              {% for product in collection.products %}
  {% if product.object_type == 'product' and product.type == 'SHOPSTORM_HIDDEN_PRODUCT' %}{% continue %}{% endif %}

  {% if product.object_type == 'product' and product.type == 'SHOPSTORM_HIDDEN_PRODUCT' %}{% continue %}{% endif %}

{%- include 'bold-product' with product, hide_action: 'skip' -%}


                {% if product.available %}

                  {% for variant in product.variants %}
                    {% if variant.available %}

                      <div class="{{items_class}}">
                        <div class="product-wrapper">

                          <div class="product-head">
                            <div class="product-image">
                              <div class="featured-img">
                                <a href="{{ variant.url | collection }}"{% if _lazyload and settings.collections_product_ratio == 'false' %} style="position:relative;padding-top:{% unless product.featured_image == blank %}{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};"{% endif %}>
                                  {% assign image = variant.image | default: product.featured_image %}
                                    {% include 'image-style' with image_size: '240x', _type: 'product' %}
                                </a>
                              </div>
                            </div>
                          </div>

                          <div class="product-content">
                            <div class="pc-inner">

                              <h5 class="product-name">
                                <a href="{{ variant.url | collection }}">{{ product.title }}</a>
                              </h5>
{% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: true, product: product %}
                              <div class="product-author">
                                {% for tag in product.tags %}

                                  {% if tag contains 'Brand' %}
                                    <a href="/collections/{{ collection.handle }}/{{ tag | handle }}">
                                      <span>{{ tag | split: 'Brand_' }}</span>
                                    </a>

                                  {% elsif tag contains 'brand'  %}
                                    <a href="/collections/{{ collection.handle }}/{{ tag | handle }}">
                                      <span>{{ tag | split: 'brand_' }}</span>
                                    </a>

                                  {% endif %}

                                {% endfor %}
                              </div>

                              {% unless variant.title contains 'Default' %}
                                <div class="product-variants">{{ variant.title }}</div>
                              {% endunless %}

                              <div class="product-price">
                                {% if variant.compare_at_price and bold_variant_price < variant.compare_at_price %}
                                  <span class="price-sale">{{ bold_variant_price | money }}</span>
                                  <span class="price-compare"> {{ variant.compare_at_price | money }}</span>

                                {% else %}
                                  <span class="price">{{ bold_variant_price | money }}</span>
                                {% endif %}
                              </div>

                              <div class="product-qty">
                                <div class="qty-wrapper-order">
                                <span class="global-product-info-qty-minus qty-down"></span>
                                <input name="updates[{{ variant.id }}]" onfocus="this.select()" class="quantity field" min="0" {% unless variant.inventory_management == blank or variant.inventory_policy == 'continue' %} max="{{ variant.inventory_quantity }}" {% endunless %} type="text" value="0" tabindex="1" />
                                <span class="global-product-info-qty-plus qty-up"></span>
                                </div>
                              </div>

                            </div>
                          </div>

                        </div>
                      </div>

                    {% endif %}
                  {% endfor %}

                {% endif %}

              {% endfor %}
            </div>
          </div>

          {% include 'pagination' %}

          <div class="button text-center">
            <button class="btn btn-2 add-all-products" type="button">{{ 'products.product.add_to_cart' | t }}</button>
          </div>
        </form>

      {%- else -%}
        <div class="11 cata-product cp-grid{% if _catalog_sb_placement == 'none' %} no-sidebar{% endif %}">
          {% if collection.products.size > 0 %}
            {% for product in collection.products %}
  {% if product.object_type == 'product' and product.type == 'SHOPSTORM_HIDDEN_PRODUCT' %}{% continue %}{% endif %}

  {% if product.object_type == 'product' and product.type == 'SHOPSTORM_HIDDEN_PRODUCT' %}{% continue %}{% endif %}

{%- include 'bold-product' with product, hide_action: 'skip' -%}

              <div class="mode-view-item products-grid-item number-{{section.settings.number_product_per_row}}">
                {%- if collectionType == 'collectionanise' -%}
                  {% include 'collectionanise-item-snippet' ,type: 'product-item' %}
                {%- else -%}
                  {% include 'product-item' %}
                {%- endif -%}
              </div>
            {% endfor %}
          {% endif %}
        </div>
    {%- endcase -%}

  {% else %}
      <p>{{ 'collections.general.no_product' | t }}</p>
  {% endif %}
</div>