<!--===== TRANSLATE SETTING ===== -->
{%- case settings.lang_type -%}
{%- comment -%}
	============
		WEGLOT TRANSLATE
	============
{%- endcomment-%}
  	{%- when 'weglot' -%}
		{%- if type == 'init' -%}
			{% assign show = true %}
			{% if settings.private_mode %}
			{%- unless customer and customer.tags contains 'staff' -%}{% assign show = false %}{%- endunless -%}
			{% endif %}

			{% if settings.api_translate != blank and show %}
				<!--Start Weglot Settings-->
				{%- assign api 			= settings.api_translate -%}
				{%- assign auto_switch 	= settings.auto_switch -%}
				{%- assign ori_lang 	= settings.original_language -%}
				{%- assign des_lang 	= settings.des_languages | downcase | replace: ' ','' | strip -%}
				{%- assign original_language 	 = ori_lang -%}
				{%- assign destination_languages = settings.des_languages | downcase | split: ',' -%}
				{%- assign proxy_prefix 		 = "?lang=" -%}
				{%- assign sub_domains 			 = false -%}
				{%- assign protocol_part 	= canonical_url | split: '://' | first | append: '://' -%}
				{%- assign full_domain 		= canonical_url | split: '://' | last | split: '/' | first -%}
				{%- assign path 			= canonical_url | remove_first: protocol_part | remove_first: full_domain -%}
				<link rel="preconnect dns-prefetch" href="https://cdn.weglot.com">
				{%- if 1==2 -%}{%- else -%}
				<link rel="alternate" hreflang="{{ original_language }}" href="{{ canonical_url }}">
				{%- if sub_domains -%}
				{%- assign main_domain = full_domain | split: "www." | last -%}
				{% for language in destination_languages %}
				{%- capture lg -%}{{language|strip}}{%- endcapture -%}
				<link rel="alternate" hreflang="{{ lg | replace:"zh","zh-CN" | replace:"tw","zh-TW" }}" href="{{ protocol_part }}{{ lg }}.{{ main_domain }}{{ path }}">
				{% endfor %}
				{%- else -%}
				{% for language in destination_languages %}
				{%- capture lg -%}{{language|strip}}{%- endcapture -%}
				<link rel="alternate" hreflang="{{ lg | replace:"zh","zh-CN" | replace:"tw","zh-TW" }}" href="{{ protocol_part }}{{ full_domain }}{{ path }}{{ proxy_prefix }}{{ lg }}">
				{% endfor %}
				{%- endif -%}
				{%- endif -%}

				{{ "//cdn.weglot.com/weglot.min.js" | script_tag }}
				<script>
					if (typeof Weglot != 'undefined') {
						Weglot.setup({
							live:true
							,api_key 				: "{{api}}"
							,originalLanguage 		: "{{ori_lang}}"
							,destinationLanguages 	: "{{des_lang}}"
							,autoSwitch 			: true
							,autoSwitchFallback 	: "{{ori_lang}}"
							,exceptions 			: ".notranslate"
							,excludePaths			: ""
							,dynamic 				: ".text-date, .related-dynamic, .add-to-cart-sticky, .snize, input"
							,translateSearch 		: false
							,waitTransition			: true
							,cache					: true
							,switchers: [
							{
								styleOpt:{
									fullname 	: true
									,withname 	: true
									,is_dropdown: true
									,classF 	: "{% if settings.flag_language != 'none'  %}wg-flags {{settings.flag_language}}{% endif %}"
								},
								containerCss 	: ""
								,target 		: ".translate-position"
								,sibling 		: null
							},
							{
								styleOpt:{
									fullname 	: true
									,withname 	: true
									,is_dropdown: true
									,classF 	: "{% if settings.flag_language != 'none'  %}wg-flags {{settings.flag_language}}{% endif %}"
								},
								containerCss 	: ""
								,target 		: ".stt-language"
								,sibling 		: null
							}
							]
						});
					}
				</script>
			{% endif %}
		{%- else -%}
			{%- if c_position == 'footer' -%}
				<div class="stt-language"></div>
			{%- else -%}
				<div class="translate-position notranslate"></div>
			{%- endif -%}
		{%- endif -%}


{%- comment -%}
	============
		GOOGLE TRANSLATE
	============
{%- endcomment-%}
  	{%- when 'google' -%}
	  	{% assign _lang = settings.gg_languages | downcase | replace: " ",""  %}

	  	{%- if type == 'init' -%}
		  	<script type="text/javascript">
		  		function googleTranslateElementInit() {
		  			new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,{{_lang}}'}, 'google_translate_element');
		  		}
		  		function triggerHtmlEvent(element, eventName) {
		  			var event;
		  			if(document.createEvent) {
		  				event = document.createEvent('HTMLEvents');
		  				event.initEvent(eventName, true, true);
		  				element.dispatchEvent(event);
		  			} else {
		  				event = document.createEventObject();
		  				event.eventType = eventName;
		  				element.fireEvent('on' + event.eventType, event);
		  			}
		  		}
		  		function langHandle(lang){
		  			jQuery.cookie('lang-cookie', lang,  {expires: 1, path: '/'});
		  			jQuery('#google_translate_element select option').each(function(){
		  				if(jQuery(this).val().indexOf(lang) > -1) {
		  					jQuery(this).parent().val(jQuery(this).val());
		  					var container = document.getElementById('google_translate_element');
		  					var select = container.getElementsByTagName('select')[0];
							triggerHtmlEvent(select, 'change');
		  				}
		  			});
	  				let en 	= jQuery('#google_translate_element').find('select option[value="en"]')
	  					,l 	= jQuery('.li-lang[data-lang="'+lang+'"]');
	  				en.length && !jQuery('.li-lang[data-lang="en"]').length && jQuery('.gtrans-el').prepend('<li class="li-lang" data-lang="en">'+en.html()+'</li>');

	  				jQuery('.li-lang').removeClass('active');
	  				if (l.length) {
	  				l.addClass('active').parents('.f-select').children('a').html(l.html());
	  				}else{
	  					jQuery('.li-lang').parents('.f-select').children('a').html('{{ "general.header.select_languages" | t }}');
	  				}
		  		}
		  		jQuery(window).load(function($) {
					jQuery('#google_translate_element').find('select option').each(function(i,v){
						let val = jQuery(this).val(), html = jQuery(this).html();
						if (val != '') {
						jQuery('.gtrans-el').length && jQuery('.gtrans-el').append('<li class="li-lang" data-lang="'+val+'">'+html+'</li>');
						}
					})
		  			if (jQuery.cookie('lang-cookie') == null) {
		  				jQuery('.li-lang').parents('.f-select').children('a').html('{{ "general.header.select_languages" | t }}');
		  			}else{
		  				let val = jQuery.cookie('lang-cookie');
		  				langHandle(val);
		  			}
		  			jQuery(document).on('click','.li-lang',function(e) {
		  				e.preventDefault();
		  				let val = jQuery(this).data('lang');
		  				langHandle(val);
		  			});
		  		});
		  	</script>
		    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
		{%- else -%}
			<div class="translate-position notranslate f-select{% if c_position == 'footer' %} f-select-up{% endif %}">
				<a href="javascript:void(0);"></a>
				<ul class="gtrans-el"></ul>
			</div>
	  	{%- endif -%}

  {%- else -%}
{%- endcase -%}
<!--===== END. ===== -->