{% if settings.use_quick_view %}
{% assign _qs_style     = 'popup' %}

<div id="quick-shop-{{_qs_style}}" class="quick-view modal" data-qs-style="{{_qs_style}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <span class="close" title="{{'products.product.close_quick_shop' | t }}" data-dismiss="modal" aria-hidden="true"></span>
      </div>

      <div class="modal-body">

          <div class="product-image qs-gallery-thumbnail-bottom">
            <div id="qs-product-image" class="product-image-inner"></div>
          </div>

          <div class="product-info">
            <h2 id="qs-product-title">Sample Product</h2>

            <div id="qs-rating"></div>
            <div id="qs-product-price" class="detail-price"></div>
            <div id="qs-description"></div>            
            <div id="qs-countdown" class="hide">
              <i class="demo-icon icon-clock-4"></i>{{'products.product.offer' | t}}
              <div class="qs-countdown-wrap">
              </div>
            </div>

            <div id="qs-action-wrapper">
              <form action="/cart/add" method="post" class="variants" id="qs-product-action" enctype="multipart/form-data">



                <div id="qs-product-variants" class="variants-wrapper"></div>
                <div>{%- comment -%} <-- don't delete this div{%- endcomment-%}
                  <div class="quantity-product qs-quantity-product">
                    <label>{{ 'products.product.quantity' | t }}</label>
                    <div class="quantity qs-quantity">
                      <div class="qty-wrapper">
                        <span class="qty-inner qs-qty-inner">
                          <span class="qty-down" title="Decrease" data-src="#qs-quantity"><i class="demo-icon icon-minus5"></i></span>
                        </span>
                        <input type="text" id="qs-quantity" class="item-quantity" name="quantity" value="1" />
                        <span class="qty-inner qs-qty-inner">
                          <span class="qty-up" title="Increase" data-src="#qs-quantity"><i class="demo-icon icon-plus06"></i></span>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="qs-product-button">
                    <div class="qs-action">
                      <button id="qs-add-cart" class="btn btn-2 add-to-cart" type="submit" name="add"><span class="flaticon-commerce"></span>{{'products.product.add_to_cart' | t }}</button>
                    </div>
                  </div>
                </div>
              </form>

{%- render 'shappify-bdl-load-bundle' -%}


            </div>
          </div>
      </div>

    </div>
  </div>
</div>

<script>
  var qs_settings = {
    "show_short_description" : "{{ settings.qs_short_description }}"
    ,"show_full_description" : "{{ settings.qs_full_description }}"
    ,"show_review"           : "{% if settings.product_review_type != 'none' %}true{% else %}false{% endif %}"
    ,"show_countdown"        : "{{ settings.qs_product_countdown }}"    
  }
jQuery(document).ready(function($) {

    //Fix page content slight move
    $('#quick-shop-popup').on( 'hidden.bs.modal', function () {
      $('#quick-shop-popup .modal-content').removeClass('fade-custom');
      $("#qs-quantity").val(1);
      AT_Main.fixReturnScroll();
    });

    var productQty             = $('.qs-quantity')
        ,productImage          = $('#qs-product-image')
        ,productRating         = $('#qs-rating')
        ,productTitle          = $('#qs-product-title')
    	  ,productDescription    = $('#qs-description')
        ,productVariantWrapper = $('#qs-product-variants')
        ,productPrice          = $('#qs-product-price')
        ,productAddCart        = $('#qs-add-cart')
        ,productCountdown      = $('#qs-countdown .qs-countdown-wrap')
        ,shopUri               = '{{ shop.secure_url }}'
        ,defaultImg            = '{{ "default-image.jpg" | asset_url }}';

    $(".qty-inner .qty-up").on("click", function() {
      var oldValue = $("#qs-quantity").val(),
      newVal = 1;
      newVal = parseInt(oldValue) + 1;
      $("#qs-quantity").val(newVal);
    });
    $(".qty-inner .qty-down").on("click", function() {
      var oldValue = $("#qs-quantity").val();
      if(oldValue > 1){
        newVal = 1;
        newVal = parseInt(oldValue) - 1;
        $("#qs-quantity").val(newVal);
      }
    });
    $('body').on('click', '.quick_shop:not(.unavailable)', function(event){
        AT_Main.fixNoScroll();
        var $this = $(this);       

        jQuery.getJSON('/products/'+ $(this).data('handle')+'.js', function(product) {
              var productSelect    = product
                  ,productSelectID = productSelect.id
                  ,productUri      = shopUri + '/products/' + productSelect.handle ;
              // Update add cart button
              productAddCart.data('product-id', productSelectID);

              // Update product image
              productImage.empty();
              var qs_images = productSelect.images;
              productImage.append('<div id="gallery-qs-image" class="gallery-thumb-img"></div>');

                if(qs_images.length > 0){
                  $('#qs-thumbnail-images').length && $('#qs-thumbnail-images').remove();
                  productImage.find('#gallery-qs-image').empty();


                  if (qs_images.length > 1) {
                    var qs_gallery_images = ''
                    ,qs_thumb_i_images = '';

                    for(let i of qs_images){
                      let t_m    = Shopify.resizeImage(i, '{width}x'),low_image = Shopify.resizeImage(i, '100x');
                      let images = `<img class="lazyload" src="${low_image}" data-src="${t_m}" data-widths="[360, 480, 768, 1024, 1440, 2560]" data-aspectratio="0" data-sizes="auto" data-parent-fit="cover"/>`;

                      qs_gallery_images += `<div class="qs-gallery-image">${images}</div>`;
                      qs_thumb_i_images += `<div class="qs-thumbnail-img">${images}</div>`;
                    }
                    productImage.find('#gallery-qs-image').removeClass('no-thumbnail').append(qs_gallery_images).after('<div id="qs-thumbnail-images">'+qs_thumb_i_images+'</div>');
                     
                  }
                  else{

                    productImage.find('#gallery-qs-image').addClass('no-thumbnail').append(`<div class="image-src-o"><img class="zoom-image lazyload"
                                                                        src="${Shopify.resizeImage(qs_images[0], '100x')}"
                                                                        data-src="${Shopify.resizeImage(qs_images[0], '{width}x')}"
                                                                        data-widths="[360, 480, 768, 1024, 1440, 2560]"
                                                                        data-aspectratio="0"
                                                                        data-sizes="auto"
                                                                        data-parent-fit="cover"/></div>`);
                  }
                }
              else{
              	productImage.html(defaultImg);
              }

              // Update product title
              productTitle.html('<a href="/products/' + productSelect.handle + '" target="_blank" rel="noopener">' + productSelect.title + '</a>');

              var $prod = $this.closest(".product-wrapper");
              // Update product description
              qs_settings.show_short_description == 'true' && productDescription.empty().html($prod.find(".product-description").html());

              $('#qs-full-description').remove();
              qs_settings.show_full_description == 'true' && $('.product-info').append('<div id="qs-full-description"><p>{{"products.product.description"| t}}</p>'+product.description+'</div>')
              //Update product review
              qs_settings.show_review == 'true' && productRating.html($prod.find(".product-review").html());


              //Update product countdown
              if (qs_settings.show_countdown == 'true') {
                var c_down = $prod.find(".block-countdown");
                if (c_down.length) {
                  let date_data   = c_down.find('.wrapper-countdown').data('date').toString().split('/')
                      ,date_count = new Date(date_data[2], Number(date_data[0])-1, date_data[1])
                      ,date_now   = new Date();
                  if (date_now < date_count) {
                    productCountdown.empty().html(c_down.html()).parents('#qs-countdown').removeClass('hide');
                    AT_Main.init_CountDown();
                  }
                }
              }

              // Produc variants
              var productVariants = productSelect.variants;
              var productVariantsCount = productVariants.length;

              productPrice.html('');
              productVariantWrapper.html('');
              productAddCart.removeAttr('disabled').fadeTo(200,1);

              if (productVariantsCount > 1 && product.available) {
                // Show Variants
                productVariantWrapper.show();

                // Variants element
                var productVariantElement = $('<select>',{ 'id': ('#quick-shop-variants-' + productSelectID) , 'name': 'id'});
                var productVariantOptions = '';

                for (var i=0; i < productVariantsCount; i++) {
                  productVariantOptions += '<option value="'+ productVariants[i].id +'">'+ productVariants[i].title +'</option>'
                };

                // Add variants element on page
                productVariantElement.append(productVariantOptions);
                productVariantWrapper.append(productVariantElement);

                // Bind variants to option_selection JS
                new Shopify.OptionSelectors(('#quick-shop-variants-' + productSelectID), { product: productSelect, onVariantSelected: selectOptionsCallback });

                // Add label if only one product option
                if (productSelect.options.length == 1){
                  $('#qs-product-action .selector-wrapper:eq(0)').prepend('<label>'+ productSelect.options[0].name +'</label>');
                }

                // Select first variant on page
                var found_one_in_stock = false;
                for (var i=0; i < productSelect.variants.length; i++) {

                  var variant = productSelect.variants[i];
                  if(variant.available && found_one_in_stock == false) { 

                    found_one_in_stock = true;
                    for (var j=0; j < variant.options.length; j++){

                      $('#quick-shop-{{_qs_style}} .single-option-selector:eq('+ j +')').val(variant.options[j]).trigger('change');

                    }
                  }
                }

              } else {
                // Hide unnecessary variants
                productVariantWrapper.hide();

                // Build variants element
                var productVariantElement = $('<select>',{ 'id': ('#quick-shop-variants-' + productSelectID) , 'name': 'id'});
                var productVariantOptions = '';

                for (var i=0; i < productVariantsCount; i++) {
                  productVariantOptions += '<option value="'+ productVariants[i].id +'">'+ productVariants[i].title +'</option>'
                };

                // Add variants element on page
                productVariantElement.append(productVariantOptions);
                productVariantWrapper.append(productVariantElement);


                // Update the add button to variant id
                productAddCart.data('variant-id', productVariants[0].id);

                // Check product is on sale
                if ( productVariants[0].compare_at_price > 0 && productVariants[0].compare_at_price > productVariants[0].price ) {
                  productPrice.html('<del class="price-compare">'+ Shopify.formatMoney(productVariants[0].compare_at_price, '{{shop.money_format}}') + '</del>'+'<span class="price-sale">'+ Shopify.formatMoney(productVariants[0].price, '{{shop.money_format}}') +'</span>');
                } else {
                  productPrice.html('<span class="price">'+ Shopify.formatMoney(productVariants[0].price, '{{shop.money_format}}') + '</span>' );
                }

              }

              if (!product.available) { // handle if product unvailable
                productAddCart.attr('disabled', 'disabled').fadeTo(200,0.5);
                productPrice.html('<span class="unavailable">Sold Out</span>');
              }

              {% if settings.show_multiple_currencies %}
                currenciesCallbackSpecial('#quick-shop-popup span.money');
              {% endif %}

              AT_Main.handleReviews();

              if ($('#quick-shop-popup').length) {
                $('#quick-shop-popup').modal('show');
                $('#quick-shop-popup .modal-content').addClass('fade-custom');
              }                   
              // init slick slide
              AT_Main.init_slick('gallery',$('#gallery-qs-image'),'#qs-thumbnail-images');
              AT_Main.init_slick('thumbnail',$('#qs-thumbnail-images'),'#gallery-qs-image');
        });

        // selectQSOptionCallback
        var selectOptionsCallback = function(variant, selector) {
          // selected a valid and in stock variant
          if (variant && variant.available) {
            // Update variant image
            if (variant.featured_image) {
              var originalImage = $("#gallery-qs-image img");
              var newImage = variant.featured_image;
              var element = originalImage[0];
              
              Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
                let new_i = newImageSizedSrc.substring(0,newImageSizedSrc.lastIndexOf('?v=')).replace('https:','');
                $('#qs-thumbnail-images .qs-thumbnail-img').each(function(){
                  let $this = $(this), image = $this.children('img').attr('src').replace('_100x', '');
                  if (new_i == image) {
                    $this.parents('.slick-slide').first().trigger('click');
                    return false;
                  }
                })
              });
            }

            productAddCart.data('variant-id', variant.id);
            productAddCart.removeAttr('disabled').html('{{ "products.product.add_to_cart" | t }}').fadeTo(200,1);


            // check if variant is on sale
            if ( variant.compare_at_price > 0 && variant.compare_at_price > variant.price ) {
              productPrice.html('<del class="price-compare">'+ Shopify.formatMoney(variant.compare_at_price, '{{shop.money_format}}') + '</del>'+'<span class="price-sale">'+ Shopify.formatMoney(variant.price, '{{shop.money_format}}') +'</span>');
            } else {
              productPrice.html('<span class="price">'+ Shopify.formatMoney(variant.price, '{{shop.money_format}}') + '</span>' );
            };

            productQty.show();
          } 
          else {

            // disabled variant doesn't exist
            productAddCart.attr('disabled', 'disabled').html(variant ? "{{'products.product.out_stock' | t }}" : "{{'products.product.unavailable' | t }}").fadeTo(200,0.5);
            productQty.hide();

            var message = variant ? "Sold Out" : "Sold Out";
            productPrice.html('<span class="unavailable">' + message + '</span>');

          }

          {% if settings.show_multiple_currencies %}
          currenciesCallbackSpecial('#quick-shop-popup span.money');
          {% endif %}

        }
    });
});

</script>
{% endif %}