{% unless settings.breadcrumb_styles == 'none' %}{% include 'breadcrumb' %}{% endunless %}

<div class="container">
  <div id="col-main" class="page-active">

    <div id="customer-activate">
      <p class="note">{{ 'customer.activate_account.subtext' | t }}</p>

      <div class="form-wrapper">
        {% form 'activate_customer_password' %}

          {% if form.errors %}
            <div class="alert alert-danger">
              <button type="button" class="close" title="{{'customer.general.close' | t }}" data-dismiss="alert">×</button>
              {{ form.errors | default_errors }}
            </div>
          {% endif %}

          <div class="control-wrapper">
            <input type="password" value="" name="customer[password]" id="customer_password" class="password" placeholder="{{ 'customer.activate_account.password' | t }}" />
          </div>

          <div class="control-wrapper">
            <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" placeholder="{{ 'customer.activate_account.password_confirm' | t }}" class="password" />
          </div>

          <div class="control-wrapper">
            <button class="btn btn-1" type="submit">{{ 'customer.activate_account.submit' | t }}</button>
            <button class="btn btn-2" type="submit" name="decline" id="customer_decline">{{ 'customer.activate_account.cancel' | t }}</button>
          </div>

        {% endform %}
      </div>
      
    </div>

  </div>
</div>
