{%- assign _title       = section.settings.head_title -%}
{%- assign _title_color = section.settings.title_color -%}
{%- assign _title_size  = section.settings.title_size -%}
{%- assign _offer       = section.settings.offer -%}
{%- assign _offer_color = section.settings.offer_color -%}
{%- assign _offer_size  = section.settings.offer_size -%}
{%- assign _expire      = section.settings.expire -%}

<div class="password-content">

  {% unless _title == blank %}
  <div class="text title-comming">
    <div class="title {{ _title_size }} title-comming-soon{% if section.settings.title_text_bold %} bold-text{% endif %}" >
      <p style="color: {{ _title_color }};font-size: {{_title_size}}px;">{{ _title }}</p>
    </div>
  </div>
  {% endunless %}

  {% unless _expire == blank %}
  <div class="text offer {{ _offer_size }} offer-comming-soon" style="color: {{ _offer_color }};font-size:{{_offer_size}}px">
    {% assign _dueDate = _expire | split: '/' %}
    <div class="block-countdown hide">
    {% unless _offer == blank %}<p><span class="text">{{ _offer }}</span></p>{% endunless %}
      <div class="wrapper-countdown" data-id="{{section.id}}" data-date="{{_expire}}">
        <div class="countdown_{{ section.id }}"></div>
      </div>
    </div>
  </div>
  {% endunless %}

  {% if settings.show_social_sharing_product %} 
    <div class="follow-us">
      <div class="text-follow">
        {% include 'social-sharing' %}
      </div>
    </div>
  {% endif %}

</div>

<script>
  jQuery(document).ready(function($) {
    var password_countdown = {
      init_EasyTimer : function(selector,time_second){
        var timer = new easytimer.Timer();
        timer.start({countdown: true, startValues: {seconds: time_second}});
        selector.html(`<span class="count-day hide">    <span class="date-number"></span><span class="text-date">{{"date_formats.day"     | t }}</span></span>
         <span class="count-hours hide">  <span class="date-number"></span><span class="text-date">{{"date_formats.hour"    | t }}</span></span>
         <span class="count-minutes hide"><span class="date-number"></span><span class="text-date">{{"date_formats.minute"  | t }}</span></span>
         <span class="count-seconds hide"><span class="date-number"></span><span class="text-date">{{"date_formats.second"  | t }}</span></span>`);

        timer.addEventListener('secondsUpdated', function (e) {
          if (timer.getTimeValues().days > 0 )
            selector.find('.count-day').removeClass('hide').children('.date-number').html(timer.getTimeValues().days);
          if (timer.getTimeValues().hours > 0)
            selector.find('.count-hours').removeClass('hide').children('.date-number').html(timer.getTimeValues().hours);

          selector.find('.count-minutes').removeClass('hide').children('.date-number').html(timer.getTimeValues().minutes);
          selector.find('.count-seconds').removeClass('hide').children('.date-number').html(timer.getTimeValues().seconds);
        });
        timer.addEventListener('targetAchieved', function (e) {selector.remove();});
      }
      ,init_CountDown : function(){
        $('.block-countdown').length && $('.block-countdown').each(function(){
          console.log('check');
          if ($(this).data('date') != '') {
            var $this   = $(this)
            ,id         = $this.find('.wrapper-countdown').data('id')
            ,newTime    = $this.find('.wrapper-countdown').data('date').toString().split('/')
            ,newSecond  = new Date(newTime[2], Number(newTime[0])-1, newTime[1]).getTime() / 1000
            ,nowSecond  = new Date().getTime() / 1000
            ,secondTime = newSecond > nowSecond ? newSecond - nowSecond : 0;

            if (secondTime > 0) {
              password_countdown.init_EasyTimer($('.countdown_'+id),secondTime);
              setTimeout(()=>$this.removeClass('hide'),100);
            }
          }
        });
      }
    };

    password_countdown.init_CountDown();
    if($('body').hasClass('template-password')){
      $('.share-links > span').css('display','none')
    }
  });
</script>

{% schema %}
{
  "name": "Password Content",
  "settings": [
  {
    "type": "paragraph",
    "content": "Created by 'password content' section"
  },
  {
    "type": "header",
    "content": "Title"
  },
  {
    "type": "text",
    "id": "head_title",
    "label": "Text",
    "default": "Comming Soon"
  },
  {
    "type": "color",
    "id": "title_color",
    "label": "Text color",
    "default": "#ffffff"
  },

  {
    "type": "range",
    "id": "title_size",
    "label": "Font size",
    "min":20,
    "max":60,
    "default":36,
    "step":1,
    "unit":"px"
  },

  {
    "type": "header",
    "content": "Offer"
  },
  {
    "type": "text",
    "id": "offer",
    "label": "Offer text",
    "default": "Offer ends in"
  },
  {
    "type": "color",
    "id": "offer_color",
    "label": "Offer color",
    "default": "#ffffff"
  },
  {
    "type": "range",
    "id": "offer_size",
    "label": "Font size",
    "min":20,
    "max":60,
    "default":36,
    "step":1,
    "unit":"px"
  },

  {
    "type": "text",
    "id": "expire",
    "label": "Expire offer",
    "info": "(mm/dd/yyyy. E.g. 09/25/2018)"
  }

  ]
}
{% endschema %}

