{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
{% if section.settings.boxed_layout %}{% assign _layout = 'boxed' %}{% else %}{% assign _layout = 'full' %}{% endif %}
{% assign _product_layout = 'product-gallery-v2' %}
{% assign _lazyload       = settings.use_lazyload %}
{% assign _zoom           = section.settings.product_zoom %}

{%- assign meta_sizechart = product.metafields.c_f -%}
{%- assign key = 'image_size_chart' -%}

{%- if settings.show_product_breabcrumb -%}{% include 'breadcrumb-product-page' %}{%- endif -%}

<div itemscope itemtype="http://schema.org/Product" data-section-type="product-page" data-section-id="{{section.id}}"  style="background-color: {{ section.settings.background_color }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}">
  <span itemprop="name" class="hide">{{ product.title }}</span>

  <div id="col-main" class="page-product {{_product_layout}} layout-{{_layout}}">
      {% if _layout == 'boxed' %}<div class="container">{% endif %}
        <div class="product-content">
          <div id="product-main">
            <div id="product-wrapper-detail" class="product-content-wrapper row">
              <div id="product-image" class="product-image col-md-6 col-12">
                <div class="product-image-inner">

                  {% if product.images.size > 0 %}
                     <div class="slider-main-image">
                        <div id="slide--main" class="slick-gallery-image row" data-zoom="{{_zoom}}">
                           {% for image in product.images %}
                              <div class="item col-md-6">
                                 <div class="img-zoom">
                                    {%- if _zoom -%}<div class="image-zoom-parent" data-zoom-size="{{ image.src | img_url: '2048x2048', scale: 1.3 }}">{%- endif -%}
                                    {% include 'image-style' with image_class: 'image-zoom', image_size: '2048x2048' %}
                                    {%- if _zoom -%}</div>{%- endif -%}
                                 </div>
                              </div>
                           {% endfor %}
                        </div>

                        <div class="slick-btn-03{% if product.images.size <= 1 %} d-none{% endif %} hide">
                           <span class="btn-prev"><i class="demo-icon icon-left-open-1"></i></span>
                           <span class="btn-next"><i class="demo-icon icon-right-open-1"></i></span>
                        </div>
                     </div>
                     <div id="slide--thumbs" class="slider-filter{% if product.images.size < 2 %} d-none{% endif %} hide">
                        {% for image in product.images %}
                           <div class="slick-item" data-match="{{ image.alt | escape }}">
                             <div class="thumb-zoom" data-zoom-size="{{ image.src | img_url: '2048x2048', scale: 2 }}">
                               {% include 'image-style' with image_size: '320x' %}
                             </div>
                           </div>
                        {% endfor %}
                     </div>
                  {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  {% endif %}

                </div>
              </div>

              <div id="product-info" class="product-info col-md-6 col-12">
                {%- include 'product.detail-gallery-2' -%}
              </div>

            </div>

            {% assign meta_bw = product.metafields.c_f %}
            {% if meta_bw.bundle_1 != blank or meta_bw.bundle_2 != blank or section.settings.product_tab_pos == 'block'%}
              <div id="product-wrapper-tabs">
                {% if meta_bw.bundle_1 != blank or meta_bw.bundle_2 != blank %}
                  {% include 'product.detail-bundled' %}
                {% endif %}
              </div>
            {% endif %}

            {% include 'product-toggle-v2' %}
          </div>
        </div>

        <div class="wrap-review">
          <div class="review-item" id="tab_review_tabbed">
            <div id="tab-review">{% include 'include-reviews' %}</div>
          </div>
        </div>

        {% if section.settings.enable_related_product %}{% include 'related-product' %}{% endif %}

        {% include 'include-recently-viewd', show: section.settings.enable_recently_viewd %}
    {% if _layout == 'boxed' %}</div>{% endif %}
  </div>
</div>



{% if section.settings.show_sticky_cart %}{% include 'include-cart-sticky' %}{% endif %}
<script type="application/json" id="VariantJson-{{ section.id }}">
  [
    {% for variant in product.variants %}
{%- include 'bold-variant' with variant, hide_action: 'skip' -%}
      {
        "id":{{ variant.id | json }},
         "incoming": {{ variant.incoming | default: false | json }},
         "unformat_incoming_date": {{ variant.next_incoming_date | date:"%d/%m/%Y" | json }},
         "next_incoming_date": {{ variant.next_incoming_date | date: format: 'month_day_year' | json }},
         "inventory_policy": {{ variant.inventory_policy | json }},
         "inventory_quantity": {{ variant.inventory_quantity | json }}
      }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
</script>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    var i_sections = new theme.Sections();
    i_sections.register('product-page', function(){
      $(".fancybox").length && $(".fancybox").jqPhotoSwipe();
      AT_Main.stickAddToCart();
      AT_Main.deadLine_time();
      AT_Main.delivery_time();
      AT_Main.init_CountDown();
      $('#slide--main').data('zoom') && AT_Main.init_zoom_img();
      PT_Main.init();
    });

  });

  // initialize multi selector for product
  var PT_Main = {
    init : function(){
      var switchFirstImage = Number('{% if section.settings.auto_switchFirst %} 5{% else %}{%- case product.options.size -%}{%- when 3 -%}0{%- when 2 -%}1{%- else -%}3{%- endcase -%}{% endif %}');

      $(window).load(function() {
        $(".qty-inner .qty-up").on("click", function() {
            var oldValue = $("#quantity").val(),
                newVal = 1;
            newVal = parseInt(oldValue) + 1;
            $("#quantity").val(newVal);
        });
        $(".qty-inner .qty-down").on("click", function() {
            var oldValue = $("#quantity").val();
            if (oldValue > 1) {
                newVal = 1;
                newVal = parseInt(oldValue) - 1;
                $("#quantity").val(newVal);
            }
        });
        var variantProd = JSON.parse($('#VariantJson-{{ section.id }}').html());
         /* selectCallback */
        var selectOptionsCallback = function(variant, selector) {
          if (variant && variant.available) {
              var form = jQuery('#' + selector.domIdPrefix).closest('form');
              for (var i = 0, length = variant.options.length; i < length; i++) {
                  var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] + '"]');
                  if (radioButton.size()) {
                      radioButton.get(0).checked = true;
                  }
              }

              AT_Main.getWidthBrowser() < 768 && switchFirstImage < 6 && switchFirstImage++;

              if (variant.featured_image && switchFirstImage > 4) {
                var originalImage = jQuery(".slider-for-03 .slick-current .image-zoom");
                var newImage      = variant.featured_image;
                var element       = originalImage[0]
                ,groupImage       = String(variant.featured_image.alt);

                groupImage != 'null' && AT_Main.productPage_variantFilter(groupImage);

                Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
                  $('.slider-filter .thumb-zoom').each(function(){
                    let _img = $(this).data('zoom-size').replace('_2048x2048@2x','');
                    if (_img == newImageSizedSrc.replace('https:','')) {
                      $(this).parents('.slick-slide').trigger('click');
                      if (AT_Main.getWidthBrowser() < 768) {
                        let w_thumb  = jQuery('#slide--thumbs').outerWidth();
                        let w_track = jQuery('#slide--thumbs .slick-track').outerWidth();
                        (w_track <= w_thumb) && jQuery('#slide--thumbs .slick-slide').length <= 5 && jQuery('#slide--thumbs .slick-track').addClass('no-translate3d');
                      }
                      return;
                    }
                  })
                });
              }
            $('.shipping-time').removeClass('hide');
          }
          var add_to_cart = '#add-to-cart'
              ,$price = '.detail-price'
              ,$stock = $('.stock-variant');

          if ($stock.length) {
            if (!variant || !variant.inventory_management) {$stock.addClass('hide');$('.shipping-time').removeClass('hide');}

            if (variant && variant.featured_image) {
              var variant_stock = variantProd.find(item => item.id === variant.id), text='';

              if (variant.available) {
                if (variant_stock.inventory_quantity >= 10) {
                  text = "<span>{{ 'products.product.available' | t }}: {{ 'products.product.in_stock' | t }}</span>";
                  $stock.removeClass('hide');
                }else if (variant_stock.inventory_quantity < 10 && variant_stock.inventory_quantity > 0) {

                  text = "<span>{{ 'products.product.available' | t }}: {{ 'products.product.stock_available' | t: count: 1}}</span>";
                  text = text.replace('1','<strong>'+variant_stock.inventory_quantity+'</strong>');
                  $stock.removeClass('hide');
                  $('.shipping-time').removeClass('hide');

                }else if (variant_stock.inventory_quantity <= 0 && variant_stock.incoming) {
                  $('.shipping-time').addClass('hide');

                  text = "{{ 'products.product.unavailable' | t }}: <span>{{ 'products.product.will_not_ship_until' | t: date: '[date]' }}</span>";
                  text.replace('[date]','<strong>'+variant_stock.next_incoming_date+'</strong>');
                  $stock.removeClass('hide');

                }else{// If there's more than 10 available, hide stock
                  $stock.addClass('hide');
                  $('.shipping-time').removeClass('hide');
                }
              }
              else{
                if (variant_stock.incoming) {
                  text = "<span>{{ 'products.product.unavailable' | t }}: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' }}</span>";
                  text.replace('[date]','<strong>'+variant_stock.next_incoming_date+'</strong>');
                  $stock.removeClass('hide');
                  $('.shipping-time').addClass('hide');
                }
                else{// If there is no stock incoming, hide stock
                  $stock.addClass('hide');
                  $('.shipping-time').removeClass('hide');
                }
              }
              $stock.html(text);
            }
          }

          if (variant && variant.available) {
            // selected a valid variant
            $(add_to_cart).removeClass('disabled').removeAttr('disabled').html('{{ "products.product.add_to_cart" | t }}');
            // remove unavailable class from add-to-cart button, and re-enable button

            if (variant.compare_at_price == null) {
              $($price).html('<span class="price">' + Shopify.formatMoney(variant.price, '{{shop.money_format}}') + '</span>');

              {% if settings.enable_saleoff_label %}
                jQuery("#label-sale").html('').hide();
              {% endif %}
            } else {
              $($price).html('<span class="price">' + Shopify.formatMoney(variant.price, '{{shop.money_format}}') + '</span>' + '<del class="price-compare">' + Shopify.formatMoney(variant.compare_at_price, '{{shop.money_format}}') + '</del>');

              {% if settings.enable_saleoff_label %}
                jQuery("#label-sale").html('<span class="sale-text">{{ "products.label.sale" | t }}</span>').show();
              {% endif %}
            }
            {% if section.settings.enable_pre_order_button %}
              $('.pre-order').addClass('hide');
              $('.quantity-product, .shopify-payment-button, .action-button').removeClass('hide');
            {% endif %}
            /* Update currency */
            {% if settings.show_multiple_currencies %}
              currenciesCallbackSpecial('#product-info span.money');
            {% endif %}
          }
          else {
            $(add_to_cart).attr('disabled', 'disabled'); // set add-to-cart button to unavailable class and disable button
            var message = variant ? "{{'products.product.sold_out' | t }}" : "{{'products.product.unavailable' | t }}";
            $(add_to_cart).html(message);

            {% if section.settings.enable_pre_order_button %}
              $('.pre-order').removeClass('hide');
              $('.quantity-product, .shopify-payment-button, .action-button').addClass('hide');


              let temp = $('.page-product .pre-order').html();
              $('.add-to-cart-sticky').html(temp).css('text-align', 'center');
              $('.add-to-cart-sticky').on('click','.btn-pre-order',function(){
                $('.page-product .btn-pre-order').trigger('click');
                return false;
              });

            {% else %}
              $('.add-to-cart-sticky').css('display', 'none');
            {% endif %}
          }

          {% if section.settings.show_prod_sku %}
            (variant && variant.sku) ? jQuery(".sku").html(variant.sku).parent().show() : jQuery(".sku").parent().hide();
          {% endif %}
        };

        {% if bold_variants_size > 0 %}
        new Shopify.OptionSelectors("product-select-{{ product.id }}", {product: {{ product | json | remove: '\u003E' | remove: '\u003C' | remove: '\u00a0'}}, onVariantSelected: selectOptionsCallback, enableHistoryState: true});
        {% endif %}

        // Add label if only one product option
        {% if product.options.size == 1 and product.options.first != 'Title' %}
          $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first | escape }}</label>');
        {% endif %}

        // Hide selectors if we only have 1 variant and its title contains 'Default'.
        {% if bold_variants_size == 1 and bold_selected_or_first_available_variant.title contains 'Default' %}
          $('.selector-wrapper').hide();
        {% endif %}
      });
    }
  }
</script>
{% include 'linked-options' %}
{%- for block in section.blocks -%}{%- if block.type == 'discount_popup' -%}{%- include 'layer-discount-modal' -%}{%- break -%}{%- endif -%}{%- endfor -%}
{% schema %}
{
  "name":"Product Square",
  "settings":[
    {
      "type":"header",
      "content":"LAYOUT"
    },
    {
      "type":"checkbox",
      "id":"boxed_layout",
      "label":"Boxed layout",
      "default":true
    },
    {
      "type":"color",
      "id":"background_color",
      "label":"Background color",
      "default":"#ffffff"
    },
    {
      "type":"checkbox",
      "id":"product_zoom",
      "label":"Enable Zoom Product Image",
      "default":true
    },
    {
      "type":"header",
      "content":"Product Cart Options"
    },
    {
      "type":"checkbox",
      "id":"shaking_cart",
      "label":"Show Shaking Cart Button",
      "default":true
    },
    {
      "type":"checkbox",
      "id":"enable_payment_button",
      "label":"Show Dynamic Checkout button",
      "info":"Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default":true
    },
    {
      "type":"checkbox",
      "id":"enable_pre_order_button",
      "label":"Show Pre-order button",
      "default":true
    },
    {
      "type":"checkbox",
      "id":"show_sticky_cart",
      "label":"Show sticky cart"
    },
    {
      "type":"select",
      "id":"sticky_cart_position",
      "label":"Sticky cart position",
      "default":"bottom",
      "options":[
        {
          "value":"top",
          "label":"Top"
        },
        {
          "value":"bottom",
          "label":"Bottom"
        }
      ]
    },
    {
      "type":"text",
      "id":"tax_text",
      "label":"Excl. tax or Incl. tax."
    },
    {
      "type":"checkbox",
      "id":"auto_switchFirst",
      "label":"Auto switch image by variant",
      "info":"When the page has been loaded"
    },
    {
      "type":"header",
      "content":"Product Summary"
    },
    {
      "type":"checkbox",
      "id":"stock_enable",
      "label":"Show inventory remaining"
    },
    {
      "type":"checkbox",
      "id":"show_prod_tags",
      "label":"Show Product Tags"
    },
    {
      "type":"checkbox",
      "id":"show_prod_sku",
      "label":"Show Product SKU"
    },
    {
      "type":"checkbox",
      "id":"show_prod_category",
      "label":"Show Product Category"
    },
    {
      "type":"checkbox",
      "id":"show_prod_vendor",
      "label":"Show Product Vendor"
    },
    {
      "type":"checkbox",
      "id":"show_prod_type",
      "label":"Show Product Type"
    },
    {
      "type":"image_picker",
      "id":"image_size_chart",
      "label":"Size chart",
      "info":"Blank to hide"
    },
    {
      "type":"url",
      "id":"size_chart_page",
      "label":"Size Chart Page",
      "info":"Blank to hide"
    },
    {
      "type":"image_picker",
      "id":"product_banner",
      "label":"Secure Image Protection",
      "info":"Blank to hide"
    },
    {
      "type":"paragraph",
      "content":"Metafield allow you to attach metadata, which is additional information to a store's resources. Please install [Advanced Custom Field](https:\/\/apps.shopify.com\/advanced-custom-field) to edit content."
    },
    {
      "type":"checkbox",
      "id":"meta_countdown_timer",
      "label":"Metafields Countdown Timer: c_f.countdown_timer",
      "default":true,
      "info":"Please make sure you config product's compare price to make this label visible [(?)](http:\/\/help.shopify.com\/manual\/products\/promoting-marketing\/sales)"
    },
    {
      "type":"range",
      "id":"countdown_style",
      "label":"Countdown timer styles",
      "min":1,
      "max":6,
      "step":1,
      "default":1
    },
    {
      "type":"checkbox",
      "id":"meta_description_excerpt",
      "label":"Metafields Description Excerpt: c_f.description_excerpt",
      "default":true
    },
    {
      "type":"header",
      "content":"Related Product"
    },
    {
      "type":"checkbox",
      "id":"enable_related_product",
      "label":"Enable Related Product",
      "default":true
    },
    {
      "type":"text",
      "id":"heading_related_product",
      "label":"Title",
      "default":"Related Products"
    },
    {
      "type":"select",
      "id":"related_product_data",
      "label":"How to select related products",
      "options":[
        {
          "label":"Same Collection",
          "value":"collection"
        },
        {
          "label":"Same Vendor",
          "value":"vendors"
        },
        {
          "label":"Same Tag",
          "value":"tags"
        }
      ],
      "default":"collection"
    },
    {
      "type":"text",
      "id":"items_resp",
      "label":"Responsive number of items",
      "placeholder":"xl,lg,md,sm,xs",
      "info":"You can define the number of slides to display for various breakpoint settings. e.g. 4 items on desktop, 3 items on tablet and 2 items on mobile. Input: 4,3,2. [Read more](https:\/\/help.arenacommerce.com\/customization\/grid.html)",
      "default":"4,2"
    },
    {
      "type":"checkbox",
      "id":"padding_item",
      "label":"Spacing items",
      "default":true
    },
    {
      "type":"range",
      "id":"related_product_limit",
      "label":"Limited items",
      "min":3,
      "max":20,
      "step":1,
      "default":15,
      "info":"Use for Same Collection"
    },
    {
      "type":"header",
      "content":"Product Recently Viewed"
    },
    {
      "type":"checkbox",
      "id":"enable_recently_viewd",
      "label":"Show products customer recently viewed",
      "default":true
    }
  ],
  "blocks":[
    {
      "type":"description",
      "limit":1,
      "name":"Tab Description",
      "settings":[
        {
          "type":"paragraph",
          "content":"Standard tab are created base on your Product description content. If you'd like unique set of tabs for each product you shoud use heading 5 function"
        },
        {
          "type":"checkbox",
          "id":"multi-tab",
          "label":"Use Multi-tabs with heading 5 tag",
          "default":true,
          "info":"We use heading 5 in Product's description to seperate Multi-tabs, each <h5>Tabs Title</h5> will be considered as content seperator and tabs title"
        }
      ]
    },
    {
      "type":"page",
      "name":"Tab Description by Page",
      "settings":[
        {
          "type":"paragraph",
          "content":"Static tab are created base on Page content. It's usefull for some content that is same for all the products like Shipping term, Size Guide, and so on"
        },
        {
          "type":"text",
          "id":"page_title",
          "label":"Heading"
        },
        {
          "type":"page",
          "id":"page",
          "label":"Select a Page"
        }
      ]
    },
      {
         "type":"tab_metafield",
         "name":"Tab Description by ACF",
         "settings": [
            {
               "type":"paragraph",
               "content":"Metafield allow you to attach metadata, which is additional information to a store's resources. Please install [Advanced Custom Field](https:\/\/apps.shopify.com\/advanced-custom-field) to edit content."
            },
            {
               "type":"paragraph",
               "content":"Metafield Tab Description Heading: c_f.heading"
            },
            {
               "type":"paragraph",
               "content":"Metafield Tab Description Content: c_f.description"
            }
         ]
      },
    {
      "type":"discount_popup",
      "name":"Discount Popup",
      "limit":1,
      "settings":[
        {
          "type":"image_picker",
          "id":"discount_popup",
          "label":"Background image"
        },
        {
          "type":"textarea",
          "id":"discount_popup_text_1",
          "label":"Text 01",
          "default":"Wait a second..."
        },
        {
          "type":"textarea",
          "id":"discount_popup_text_2",
          "label":"Text 02",
          "default":"Don't you want discount off"
        }
      ]
    },
    {
      "type":"fomo_inline",
      "name":"Fomo Notify (Inline)",
      "settings":[
        {
          "type":"text",
          "id":"title",
          "label":"Block label"
        },
        {
           "type":"text",
           "id":"fomo_margin",
           "label":"Fomo margin",
           "placeholder":"E.g: 5px 20px 5px 20px",
           "info":"Order: Top Right Bottom Left"
        },
        {
          "type":"header",
          "content":"Fomo Settings"
        },
        {
          "type":"range",
          "id":"cookie_history",
          "label":"Remove cookie every",
          "min":10,
          "max":60,
          "step":5,
          "default":30,
          "unit":"s"
        },
        {
          "type":"text",
          "id":"loop_time",
          "label":"Loop timer",
          "default":"20"
        },
        {
          "type":"range",
          "id":"deviation_value",
          "label":"Standard Deviation",
          "info":"Value range of counter after reload page (Percent * The previous value)",
          "min":10,
          "max":90,
          "step":10,
          "default":20,
          "unit":"%"
        },
        {
          "type":"text",
          "id":"count_min_max",
          "label":"Counter Min - Max",
          "default":"60;100",
          "placeholder":"Min ; Max"
        },
        {
          "type":"checkbox",
          "id":"city_manual",
          "label":"Use Manual Cities List"
        },
        {
          "type":"paragraph",
          "content":"Show manual cities list instead of nearby cities detect with GEOIP service."
        },
        {
          "type":"paragraph",
          "content":"Change list in Theme settings/ Fomo Popups/ Manual Cities List"
        },
        {
          "type":"header",
          "content":"Image settings"
        },
        {
          "type":"select",
          "id":"image_pos",
          "label":"Position",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        },
        {
          "type":"select",
          "id":"image_size",
          "label":"Image size",
          "default":"small",
          "options":[
            {
              "value":"small",
              "label":"Small"
            },
            {
              "value":"medium",
              "label":"Medium"
            },
            {
              "value":"large",
              "label":"Large"
            }
          ]
        },
        {
          "type":"image_picker",
          "id":"noti_image",
          "label":"Image",
          "info":"Blank to hide"
        },
        {
          "type":"checkbox",
          "id":"use_product_image",
          "label":"Use Image from Products random"
        },
        {
          "type":"text",
          "id":"image_radius",
          "label":"Image Rounded corners",
          "default":"4px"
        },
        {
          "type":"text",
          "id":"image_margin",
          "label":"Image margin",
          "placeholder":"E.g: 5px 20px 5px 20px",
          "info":"Order: Top Right Bottom Left"
        },
        {
          "type":"header",
          "content":"Icon settings"
        },
        {
          "type":"text",
          "id":"icon_name",
          "label":"Font icon name",
          "info":"Use [icon] to place in your content"
        },
        {
          "type":"text",
          "id":"ic_fs",
          "label":"Icon font size",
          "default":"18px"
        },
        {
          "type":"color",
          "id":"ic_cl",
          "label":"Icon color",
          "default":"#222222"
        },
        {
          "type":"header",
          "content":"Line 1 settings"
        },
        {
          "type":"text",
          "id":"fomo_content_lh_1",
          "label":"Line 1 line height"
        },
        {
          "type":"text",
          "id":"fomo_content_padding_1",
          "label":"Line 1 Padding",
          "placeholder":"E.g: 5px 20px 5px 20px",
          "info":"Order: Top Right Bottom Left"
        },
        {
          "type":"text",
          "id":"text_fs_1",
          "label":"Text font size",
          "default":"14px"
        },
        {
          "type":"text",
          "id":"link_fs_1",
          "label":"Link font size",
          "default":"14px"
        },
        {
          "type":"select",
          "id":"text_fw_1",
          "label":"Text font weight",
          "default":"300",
          "options":[
            {
              "value":"100",
              "label":"100 Thin (Hairline)"
            },
            {
              "value":"200",
              "label":"200 Extra Light (Ultra Light)"
            },
            {
              "value":"300",
              "label":"300 Light"
            },
            {
              "value":"400",
              "label":"400 Normal"
            },
            {
              "value":"500",
              "label":"500 Medium"
            },
            {
              "value":"600",
              "label":"600 Semi Bold (Demi Bold)"
            },
            {
              "value":"700",
              "label":"700 Bold"
            },
            {
              "value":"800",
              "label":"800 Extra Bold (Ultra Bold)"
            },
            {
              "value":"900",
              "label":"900 Black (Heavy)"
            }
          ]
        },
        {
          "type":"select",
          "id":"link_fw_1",
          "label":"Link font weight",
          "default":"300",
          "options":[
            {
              "value":"100",
              "label":"100 Thin (Hairline)"
            },
            {
              "value":"200",
              "label":"200 Extra Light (Ultra Light)"
            },
            {
              "value":"300",
              "label":"300 Light"
            },
            {
              "value":"400",
              "label":"400 Normal"
            },
            {
              "value":"500",
              "label":"500 Medium"
            },
            {
              "value":"600",
              "label":"600 Semi Bold (Demi Bold)"
            },
            {
              "value":"700",
              "label":"700 Bold"
            },
            {
              "value":"800",
              "label":"800 Extra Bold (Ultra Bold)"
            },
            {
              "value":"900",
              "label":"900 Black (Heavy)"
            }
          ]
        },
        {
          "type":"color",
          "id":"text_color_1",
          "label":"Text color",
          "default":"#888888"
        },
        {
          "type":"color",
          "id":"link_color_1",
          "label":"Tink color",
          "default":"#1A1A1A"
        },
        {
          "type":"header",
          "content":"Line 2 settings"
        },
        {
          "type":"text",
          "id":"fomo_content_lh_2",
          "label":"Line 2 line height"
        },
        {
          "type":"text",
          "id":"fomo_content_padding_2",
          "label":"Line 2 Padding",
          "placeholder":"E.g: 5px 20px 5px 20px",
          "info":"Order: Top Right Bottom Left"
        },
        {
          "type":"text",
          "id":"text_fs_2",
          "label":"Text font size",
          "default":"14px"
        },
        {
          "type":"text",
          "id":"link_fs_2",
          "label":"Link font size",
          "default":"14px"
        },
        {
          "type":"select",
          "id":"text_fw_2",
          "label":"Text font weight",
          "default":"300",
          "options":[
            {
              "value":"100",
              "label":"100 Thin (Hairline)"
            },
            {
              "value":"200",
              "label":"200 Extra Light (Ultra Light)"
            },
            {
              "value":"300",
              "label":"300 Light"
            },
            {
              "value":"400",
              "label":"400 Normal"
            },
            {
              "value":"500",
              "label":"500 Medium"
            },
            {
              "value":"600",
              "label":"600 Semi Bold (Demi Bold)"
            },
            {
              "value":"700",
              "label":"700 Bold"
            },
            {
              "value":"800",
              "label":"800 Extra Bold (Ultra Bold)"
            },
            {
              "value":"900",
              "label":"900 Black (Heavy)"
            }
          ]
        },
        {
          "type":"select",
          "id":"link_fw_2",
          "label":"Link font weight",
          "default":"300",
          "options":[
            {
              "value":"100",
              "label":"100 Thin (Hairline)"
            },
            {
              "value":"200",
              "label":"200 Extra Light (Ultra Light)"
            },
            {
              "value":"300",
              "label":"300 Light"
            },
            {
              "value":"400",
              "label":"400 Normal"
            },
            {
              "value":"500",
              "label":"500 Medium"
            },
            {
              "value":"600",
              "label":"600 Semi Bold (Demi Bold)"
            },
            {
              "value":"700",
              "label":"700 Bold"
            },
            {
              "value":"800",
              "label":"800 Extra Bold (Ultra Bold)"
            },
            {
              "value":"900",
              "label":"900 Black (Heavy)"
            }
          ]
        },
        {
          "type":"color",
          "id":"text_color_2",
          "label":"Text color",
          "default":"#888888"
        },
        {
          "type":"color",
          "id":"link_color_2",
          "label":"Tink color",
          "default":"#1A1A1A"
        },
        {
          "type":"header",
          "content":"Fomo Content"
        },
        {
          "type":"paragraph",
          "content":"Use keywords to created random content, place in your content. [cities], [number], [products], [time]"
        },
        {
          "type":"textarea",
          "id":"text_header",
          "label":"Line 1",
          "default":"Fomo Lorem ipsum"
        },
        {
          "type":"select",
          "id":"head_alignment",
          "label":"Line 1 alignment",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        },
        {
          "type":"textarea",
          "id":"text_body",
          "label":"Line 2"
        },
        {
          "type":"select",
          "id":"body_alignment",
          "label":"Line 2 alignment",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    },
    {
      "type":"fomo_shipping",
      "name":"Fomo Notify (Shipping)",
      "limit":1,
      "settings":[
        {
          "type":"text",
          "id":"title",
          "label":"Block label"
        },
        {
           "type":"text",
           "id":"fomo_margin",
           "label":"Fomo margin",
           "placeholder":"E.g: 5px 20px 5px 20px",
           "info":"Order: Top Right Bottom Left"
        },
        {
          "type":"header",
          "content":"Order and Shipping Time",
          "info":"Working days"
        },
        {
          "type":"range",
          "id":"deadline_day",
          "label":"Deadline each day",
          "default":14,
          "min":0,
          "max":23,
          "step":1,
          "unit":"h"
        },
        {
          "type":"range",
          "id":"delivery_time",
          "label":"Delivery time",
          "default":2,
          "min":1,
          "max":7,
          "step":1,
          "unit":"d"
        }
      ]
    }
  ]
}
{% endschema %}